body {
background-color: #F5F6CE
}

.headlink {
padding:10px;
border:2px outset #F7F8E0;
border-radius:25px;
}

.headLink:hover {
border:2px inset #F5F6CE;
background-color: #F7F8E0;
}


/*
background-color: 
*/
