body {
background-color:  #00009C;
}

.headlink {
display: block;
text-align: center;
padding:10px;
border:2px outset black;
border-radius:25px;
text-decoration: none;
color: red;
font-size:24;
}

.headLink:hover {
border:2px inset #F5F6CE;
background-color: blue;
}


/*
background-color: 
*/
